.button {
    -fx-background-color:  #dd2c00;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #f5891d;
    -fx-background-radius: 5px;
}
.glyph-icon {
    -fx-fill: ffe668;
}

.button:hover .glyph-icon {
    -fx-fill: ffe668;
}